.container {
  width: 1120px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.left-side,
.right-side {
  width: 500px;
}

.left-side__high {
  margin: 0;
  margin-bottom: 60px;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  color: #3751FE;
  font-family: Roboto;
}

.left-side__heading {
  margin: 0;
  margin-bottom: 28px;
  font-size: 36px;
  line-height: 49px;
  color: #3751FE;
  font-family: Open Sans;
}

.left-side__text {
  margin: 0;
  margin-bottom: 65px;
  font-family: Roboto;
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
}

.travel-form__email-text {
  display: none;
}

.travel-form__email-input,
.travel-form__password-input {
  width: 430px;
  height: 50px;
  display: block;
  padding: 12px 27px;
  border: 3px solid #C1BBBB;
  transition: ease 0.3s all;
}

.travel-form__email-input:hover,
.travel-form__password-input:hover {
  border-left: 3px solid #0C31F1;
}

.travel-form__email-input:focus,
.travel-form__password-input:focus {
  outline: none;
}

.travel-form__password-input {
  border-top: 0;
  margin-bottom: 21px;
}

.travel-form__text {
  font-family: Roboto;
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.61);
  margin-left: auto;
  width: 450px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 72px;
}

.button__form ~ .button__form {
  margin-left: 33px;
}

.button__form {
  font-family: Roboto;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  width: 129px;
  height: 54px;
  background-color: #3751FE;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
  border: 0;
  transition: ease 0.5s all;
}

.button__form:hover {
  color: #0C31F1;
  background: #FFFFFF;
  border: 1px solid #3751FE;
}

.travel__footer {
  margin-top: 72px;
}

.footer-ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__li ~ .footer__li {
  margin-left: 50px;
}

.footer__link {
  width: 105px;
  color: rgba(0, 0, 0, 0.61);
  display: block;
  text-decoration: none;
  font-size: 18px;
  line-height: 21px;
  transition: ease 0.5s all;
}

.footer__link:hover {
  font-weight: bold;
  color: #3751fe;
}

.travel__nav {
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}

.travel__ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.travel__li {
  width: 59px;
}

.travel__li ~ .travel__li {
  margin-left: 30px;
}

.travel__link {
  padding-bottom: 8px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.61);
}

.travel__link:hover {
  padding-bottom: 5px;
  border-bottom: 3px solid #3751FE;
} 

.travel__box {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.travel__img {
  margin-top: 50px;
  margin-left: -100px;
  margin-right: -100px;
  width: 775px;
  height: 428px;
}
